@import "tailwindcss";
body{
  background: #000;
  color:white;
  font-family: outfit;
}

.poo:hover{
 border: 2px solid #ff00ff;
 background-image: linear-gradient(45deg, #3f0028, #582300);
 transform: scale(1.05);
 transition: 0.4s;
}

html {
  scroll-behavior: smooth;
}
